.item-area {
    height: 92%;
    background-color: #FFF;
    margin: .5rem .5rem 0 .5rem;
    padding: .5rem;
}

.manage-item-top{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem;
}

.manage-item-top .search-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #9db9bb;
    background-color: #f6f6f6;
    border-radius: .5rem;
    width: 250px;
    height: 30px;
}

.search-item input{
    outline: none;
    border: none;
    width: 80%;
    padding: 2px;
    background-color: transparent;
}

.search-item img{
    width: 25px;
    margin-left: 5px;
    opacity: 60%;
    pointer-events: none;
}

.manage-item-top #btn{
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    padding: 2px;
    border-radius: .5rem;
    background-color: #68A2A5;
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
    transition: opacity .3s;
}

.manage-item-top #btn:hover{
    opacity: 80%;
}

.manage-item-top #btn img{
    width: 20px;
}

.table-item-area{
    height: 85%;
    padding: .7rem;
    overflow-y: auto;
}

.table-item-area::-webkit-scrollbar {
    width: 12px;
}

.table-item-area::-webkit-scrollbar-track {
    background: transparent;
}
  
.table-item-area::-webkit-scrollbar-thumb {
    border: 4px solid #fff;
    border-radius: 20px;
    background: #25767B;
}

.table-item-area table{
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.table-item-area table thead{
    border: 1px solid #9db9bb;
}

.table-item-area table thead th{
    background-color: #F6F6F6;
    height: 35px;
}

.table-item-area table td{
    border: 1px solid #9db9bb;
    height: 30px;
    text-transform: uppercase;
}

.table-item-area table td button,
.table-item-area table td a{
    text-decoration: none;
    outline: none;
    border: 0;
}

.table-item-area table td button img,
.table-item-area table td a img{
    width: 20px;
    transition: opacity .3s;
}

.table-item-area table td button img:hover,
.table-item-area table td a img:hover{
    opacity: 70%;
}