#container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
}

#container .landing-page{
    display: flex;
}

.landing-page .img-sistema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
}

.landing-page .img-sistema .mini-footer{
    display: flex;
    color: #f6f6f6;
    margin-top: 3rem;
    text-shadow: 0px 0px 15px rgb(0 0 0 / 40%);
}

.landing-page .img-sistema .mini-footer a{
    display: flex;
    align-items: center;
    color: #f6f6f6;
    text-decoration: none;
    margin-left: .3rem;
}

.landing-page .img-sistema .mini-footer a img{
    width: 17px;
}

.landing-page .img-sistema img{
    width: 70vh;
    pointer-events: none;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.50);
}

.main-items{
    width: auto;
    height: auto;
    padding: 5px;
}

.main-items .title-logo{
    text-align: center;
    margin-top: 3rem;
}

.main-items .title-logo h1{
    font-size: 3.5rem;
    letter-spacing: 5px;
    color: #656464;
    margin: 1rem;
}

.inputs{
    padding: .5rem;
}

.inputs .login{
    display: flex;
    flex-direction: column;
}

.inputs .login .label-login,
.inputs .login .label-pw{
    font-size: 18px;
    color: #656464;
}

.inputs .login .input{
    display: flex;
    align-items: center;
    width: 400px;
    height: 45px;
    background: #F2F2F2;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    text-align: center;
}

.inputs .login .input input{
    background-color: transparent;
    outline: none;
    border: 0;
    width: 300px;
    height: 35px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #656464;
}

.inputs .login img{
    margin: 0px 10px 0px 25px;
    width: 17px;
    height: 20px;
    pointer-events: none;
}

.inputs .login input[type=password]::-ms-reveal,
.inputs .login input[type=password]::-ms-clear{
    display: none;
}

.inputs .login .alert{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AD3123;
    height: 25px;
}

.login-form .submit{
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.login-form .submit button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 45px;
    background-image: linear-gradient(264.08deg, #73A5A8 -20.67%, #FFFFFF 137.86%);
    background-size: 100% 200%;
    border: 1px solid #98BDBF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .3s ease-in-out;
 
}

.login-form .submit button:hover{
    background-position: 50% 150%;
    border: 1px solid rgba(115, 165, 168, 0.92);
}

.login-form .mini-footer{
    display: flex;
    align-items: center;
    float: right;
    height: 35px;
    padding: 5px;
    margin-top: 15px;
}

.login-form .mini-footer a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    font-size: 15px;
    color: #000AFF;
}

.login-form .mini-footer img{
    width: 20px;
}