.sell-products{
    height: 92%;
    /* margin: 15px;
    padding: 1px; */
    background-color: #f6f6f6;
}
.sell{
    height: 92%;
    background-color: #fff;
    margin: .5rem .5rem 0 .5rem;
    padding-top: .25rem;
}

.sell-products .sell-area{
    /* display: flex;
    flex-direction: column; */
    height: 85%;
    border: 1px solid #25767B;
    border-radius: 10px;
    margin: .5%;
    padding: .5%;
}

.sell-products .sell-area .section-sell-area{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sell-area .title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.sell-area .title-section h3{
    font-size: 25px;
    color: #25767B;
    text-transform: uppercase;
    margin: 5px;
}

.sell-area .table-section{
    height: 85%;
    border: 1px solid #9db9bb;
    margin-top: 5px;
    overflow-y: scroll;
}

.table-section::-webkit-scrollbar {
    width: 12px;
}

.table-section::-webkit-scrollbar-track {
    background: transparent;
}
  
.table-section::-webkit-scrollbar-thumb {
    border: 4px solid #fff;
    border-radius: 20px;
    background: #25767B;
}

.sell-area .table-scroll thead th{
    height: 35px;
}

.sell-area .sell-info{
    display: flex;
    width: 100%;
    height: 8%;
    margin-top: 5px;
}

.sell-area .sell-info .client,
.sell-area .sell-info .payment{
    display: flex;
    align-items: center;
    width: 40%;
    margin-right: 5px;
    background-color: #25767B;
    border-radius: 10px;
}

.sell-area .sell-info .client a,
.sell-area .sell-info .payment a,
.sell-area .sell-info .add-product a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sell-area .sell-info .add-product{
    width: 20%;
    border-radius: 10px;
    background-color: #00CDE9;
    transition: background-color .3s;
}

.sell-area .sell-info .add-product:hover{
    background-color: #00aac0;
}

.sell-area .sell-info .add-product a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sell-area .sell-info .client a,
.sell-area .sell-info .payment a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-color: #2D595B;
    transition: background-color .3s;
}

.sell-area .sell-info .client a:hover,
.sell-area .sell-info .payment a:hover{
    background-color: #1f3b3d;
}

.sell-area .sell-info .client .data-sell-info,
.sell-area .sell-info .payment .data-sell-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.sell-area .sell-info .client .data-sell-info input,
.sell-area .sell-info .payment .data-sell-info input{
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 17px;
}

.sell-area .sell-info .client a img,
.sell-area .sell-info .payment a img,
.sell-area .sell-info .add-product a img{
    width: 17px;
    margin: 0 5px 3px 0;
}

.sell-products .sell-attributes{
    height: 10%;
    display: flex;
    padding: 5px;
}

.sell-products .sell-attributes .value-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    background-color: #25767B;
    margin-right: 5px;
    border-radius: 10px;
}

.sell-products .sell-attributes .value-cart span{
    margin: 0px 20px;
    color: #fff;
    font-size: 23px;
}

.sell-products .buttons{
    display: flex;
    width: 40%;
}

.sell-products .buttons .cancel{
    background-color: #CD0000;
    margin-left: 5px;
    margin-right: 5px;
    transition: box-shadow .3s;
}

.sell-products .buttons .accept{
    background-color: #00AC4F;
    margin-left: 5px;
    border: 0;
    transition: box-shadow .3s;
}

.sell-products .buttons .cancel:hover,
.sell-products .buttons .accept:hover{
    box-shadow: 0px 0px 4px #000;
}

.sell-products .sell-attributes a,
.sell-products .sell-attributes button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: royalblue;
    text-decoration: none;
    border-radius: 10px;
}

.sell-products .buttons .cancel img{
    margin: 5px;
    width: 20px;
}

.sell-products .buttons .accept img{
    margin: 5px;
    width: 30px;
}

.sell-products .sell-attributes a span,
.sell-products .sell-attributes button span{
    color: #fff;
    margin: 5px;
    font-size: 20px;
}


