.left-bar{
    position: relative;
    background: #256064;
    height: 100%;
}

.left-bar .sidebar{
    width: 300px;
    height: 100%;
    background: #256064;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 15px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}
  
.sidebar::-webkit-scrollbar-thumb {
    border: 4px solid #256064;
    border-radius: 10px;
    background: #25767B;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
    list-style-type: none;
    margin: 0;
}

.sidebar .menu-items{
    height: max-content;
    display: flex;
}

.sidebar ul li{
    padding: 13px;
}

.sidebar ul li ul li button,
.sidebar ul li ul li a{
    display: flex;
    color: #fff;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    height: 100%;
}

.sidebar ul li ul{
    margin-top: 6px;
    padding: 5px;
}

.sidebar ul li ul li{
    padding: 7px;
}

.sidebar ul li ul li:hover{
    background-color: #256064;
}

.sidebar ul li a,
.sidebar ul li span{
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.sidebar ul li a img,
.sidebar ul li span img{
    width: 30px;
    margin-right: 15px;
}

.sidebar ul li a i{
    width: 30px;
}

.sidebar ul li:hover {
    background: #1f565a;
    -webkit-box-shadow: inset -50px 0px 29px -11px #256064; 
    box-shadow: inset -50px 0px 29px -11px #256064;
}  

.sidebar ul li a:hover {
    text-decoration: none;
}

.sidebar .footer-sidebar{
    display: flex;
    align-items: center;
}

.footer-sidebar .text-center span{
    color: #fff;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}

.sidebar .footer-sidebar .text-center #btn{
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background .2s;
    margin: 15px;
    background-color: transparent;
    border: 0;
}

.sidebar .footer-sidebar .text-center #btn:hover{
    background: #1f565a;
}

.sidebar .footer-sidebar .text-center #btn img{
    margin-right: 5px;
    margin-bottom: 3px;
}

@media (max-width: 1400px) {
    .left-bar .sidebar{
        width: 270px;
    }

    .sidebar ul li a,
    .sidebar ul li span{
        font-size: 19px;
    }

    .sidebar ul li a img,
    .sidebar ul li span img{
        width: 27px;
        margin-right: 13px;
    }
}