@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(252.44deg, #73A5A8 0%, #73A5A8 0.01%, #1F8F96 100%);
}

body{
    position: fixed;
}

#container{
    display: flex;
    height: 90%;
}