.modal .modal-cad-cliente{
    max-width: 600px !important;
}

.modal-content .form{
    margin: 0 1rem;
}

form{
    margin-top: 15px;
}
.modal-content .form form input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .input{
    margin: .2rem 0;
    width: 100%;
}

form .input input,
form .input select{
    height: 33px;
    outline: none;
    padding: 0 .5rem;
    border: 0.5px solid #9db9bb;
    background-color: #f6f6f6;
    border-radius: .4rem;
    width: 100%;
}

form .input-nome-cliente input{
    width: 100%;
}

form .input-ddd-tel-cpf{
    display: flex;
}

form .input-ddd-tel-cpf .input-ddd{
    margin-left: 2rem;
    margin-right: 1rem;
    width: 50px !important;
} 

form .input-ddd-tel-cpf .input-ddd input{
    width: 50px;
    text-align: center;
}

form .input-endereco-num{
    display: flex;
}

form .input-endereco-num .input-rua{
    width: 100%;
}

form .input-endereco-num .input-numero{
    width: 100px;
    margin-left: 1rem;
}

form .input-bairro-cidade-estado{
    display: flex;
}

form .input-bairro-cidade-estado .input-cidade,
form .input-bairro-cidade-estado .input-estado{
    margin-left: 1rem;
}

form .modal-footer{
    margin: 1.5rem 0;
    padding: 0;
}

form .modal-footer button{
    outline: none;
    border: 0;
    width: 120px;
    height: 35px;
    color: #fff;
    border-radius: .3rem;
}

form .modal-footer .close img{
    width: 13px;
    margin: 2px;
}

form .modal-footer .submit img{
    width: 17px;
    margin: 2px;
}

form .modal-footer .close{
    background-color: #CD0000;
}

form .modal-footer .submit{
    background-color: #00AC4F;
}
