.modal-content {
    background-color: #f6f6f6 !important;
    border-radius: 10px !important;
}

.modal-content .modal-header,
.modal-content .modal-footer{
    border: 0 !important;
}

.modal-content .modal-header i{
    font-size: 25px;
    cursor: pointer;
}
