.modal-content {
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-left: .7rem solid #25767B !important;
    border-right: .7rem solid #25767B !important;
}

.modal-content .modal-logoff{
    width: 800px !important;
    height: 300px !important;
}

.modal-content .modal-header,
.modal-content .modal-footer{
    border: 0 !important;
}

.modal-header{
    display: flex !important;
    align-items: center !important;
}

.modal-header h5{
    margin: 0 !important;
}

.modal-content .modal-header i{
    font-size: 25px;
    cursor: pointer;
}

.modal-header .close-modal{
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
}

.modal-header .close-modal img{
    width: 17px !important;
}

.modal-center{
    margin: .5rem 0;
}

.modal-select{
    margin: 1rem;
}

.modal-select .input-met-pag,
.modal-select .input-parcel{
    display: flex;
    flex-direction: column;
}

.modal-select .input-met-pag{
    width: 100%;
}

.modal-select .input-parcel{
    width: 220px;
    margin-left: 1rem;
}

.modal-select .input-parcel input{
    text-align: center;
}

.modal-select select,
.modal-select input{
    height: 33px;
    outline: none;
    padding: 0 .5rem;
    border: 0.5px solid #9db9bb;
    background-color: #f6f6f6;
    border-radius: .4rem;
    width: 100%;
    text-transform: uppercase;
}

.modal-center h2{
    margin: 0;
}

.modal-footer .exit{
    background-color: #CD0000;
}

.modal-footer .cancel,
.modal-footer .confirm{
    background-color: #00AC4F;
}

.modal-footer .exit,
.modal-footer .confirm,
.modal-footer .cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: .3rem;
    transition: opacity .3s;
}

.modal-footer .exit:hover,
.modal-footer .confirm:hover,
.modal-footer .cancel:hover{
    opacity: 90%;
}

.modal-footer .confirm img{
    width: 22px;
    margin-left: .5rem;
}
